<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title><%= @text[:title] %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style media="screen" type="text/css">
			<%= incl(File.join(@config[:path][:build], 'mobile', 'index.css')) %>
		</style>

		<script type="text/javascript">
			<%= incl(File.join(@config[:path][:build], 'mobile', 'index.js')) %>

			<% if @embed %>
				cryptobox.json = <%= incl(File.join(@config[:path][:private], 'cryptobox.json')) %>;
			<% else %>
				cryptobox.json = null;
			<% end %>
			cryptobox.config = <%= @config.to_json %>;
		</script>
	</head>
	<body></body>
</html>
