<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title><%= @text[:title] %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style media="screen" type="text/css">
<%= incl_plain(File.join(@config[:path][:templates], 'extern/jquery-mobile/jquery.mobile-1.1.0.css')) %>
		</style>

		<script type="text/javascript">
			var cryptobox = {};
			cryptobox.cfg = <%= incl(@config[:path][:db_json]) %>;

<%= incl_plain(File.join(@config[:path][:templates], 'extern/jquery/jquery-1.7.2.min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/jquery-mobile/jquery.mobile-1.1.0.min.js')) %>

<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/core-min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/enc-base64-min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/cipher-core-min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/aes-min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/sha1-min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/hmac-min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/pbkdf2-min.js')) %>

<%= incl(File.join(@config[:path][:templates], 'js/form.js')) %>
<%= incl(File.join(@config[:path][:templates], 'js/ui.js')) %>
<%= incl(File.join(@config[:path][:templates], 'js/cipher.js')) %>
<%= incl(File.join(@config[:path][:templates], 'js/lock.js')) %>
<%= incl(File.join(@config[:path][:templates], 'mobile/index.js')) %>
		</script>
	</head>
	<body>
		<div data-role="dialog" id="div-locked">
			<div data-role="header">
				<h1><%= @text[:title] %></h1>
			</div>

			<div data-role="content">
				<form id="form-unlock" action="#div-main" method="get" data-ajax="false">
					<label for="input-password"><%= @text[:enter_password] %></label>
					<input type="password" id="input-password" value="" />
					<input type="submit" value="<%= @text[:button_unlock] %>" />
				</form>
			</div>
		</div>
	</body>
</html>
