<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title><%= @text[:title] %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style media="screen" type="text/css">
			<%= incl(File.join(@config[:path][:root], 'build', 'mobile', 'index.css')) %>
		</style>

		<script type="text/javascript">
			<%= incl(File.join(@config[:path][:root], 'build', 'mobile', 'index.js')) %>
			cryptobox.cfg = <%= incl(@config[:path][:db_json]) %>;
		</script>
	</head>
	<body></body>
</html>
