<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title><%= @text[:title] %></title>
		<style type="text/css">
			<%= incl(File.join(@config[:path][:root], 'build', 'chrome', 'popup.css')) %>
		</style>
		<script src="popup.js"></script>
	</head>
	<body>
		<div id="content"></div>

		<div id="div-copyright" class="ui-widget">
			<p><a href="https://github.com/fomichev/cryptobox"><%= @text[:title] %> <%= Cryptobox::VERSION %></a>, <%= @text[:created_at] %> <%= @config[:cryptobox][:date] %></p>
		</div>
	</body>
</html>
