// =require extern/bootstrap/css/bootstrap.css

body {
	min-width: 400px;
}

#div-locked {
	text-align: center;
}

#div-copyright {
	text-align: center;
}

#div-details {
	padding: 20px;
}

#div-alert {
	margin-top: 10px;
	display: none;
}
