<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title><%= @text[:title] %></title>
		<style type="text/css">
			body {
				min-width: 400px;
			}

			#div-locked {
				text-align: center;
			}

			#div-copyright {
				text-align: center;
			}

			#div-details {
				padding: 20px;
			}

<%= incl_plain(File.join(@config[:path][:bootstrap], "css/bootstrap.min.css")) %>
		</style>

		<script src="jquery.min.js"></script>
		<script src="handlebars.runtime.js"></script>
		<script src="bootstrap.min.js"></script>
		<script src="seedrandom.min.js"></script>

	<% if @config[:chrome][:embed] %>
		<script src="core-min.js"></script>
		<script src="enc-base64-min.js"></script>
		<script src="cipher-core-min.js"></script>
		<script src="aes-min.js"></script>
		<script src="sha1-min.js"></script>
		<script src="hmac-min.js"></script>
		<script src="pbkdf2-min.js"></script>

		<script src="cfg.js"></script>
		<script src="cipher.js"></script>
	<% end %>
		<script src="form.js"></script>
		<script src="lock.js"></script>
		<script src="ui.js"></script>
		<script src="password.js"></script>
		<script src="helpers.js"></script>

		<script src="ui-bootstrap.js"></script>
		<script src="popup.js"></script>

		<script src="templates.js"></script>
	</head>
	<body>
		<div id="content"></div>

		<div id="div-copyright" class="ui-widget">
			<p><a href="https://github.com/fomichev/cryptobox"><%= @text[:title] %> <%= Cryptobox::VERSION %></a>, <%= @text[:created_at] %> <%= @config[:cryptobox][:date] %></p>
		</div>
	</body>
</html>
