<div data-role="page" id="div-locked">
	<div data-role="header">
		<h1><%= @text[:locked_title] %></h1>
	</div>

	<div data-role="content">
		<div id="div-alert" class="ui-bar ui-bar-e"></div>

		<form id="form-unlock" action="#div-main" method="get" data-ajax="false">
			<input type="password" id="input-password" value="" placeholder="<%= @text[:password] %>" />
		<% unless @embed %>
			<label><input id="input-remember" type="checkbox" checked="checked" /> <%= @text[:remember_dropbox_credentials] %></label>
		<% end %>
			<input id="button-unlock" type="submit" value="<%= @text[:button_unlock] %>" />
		</form>
	</div>
</div>
