// =require desktop/index.css
// =require extern/bootstrap/css/bootstrap.css

#div-copyright {
	text-align: center;
}

#div-header {
	text-align: right;
}

#div-locked {
	text-align: center;
}

#div-alert {
	margin-top: 10px;
	display: none;
}
