<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

		<title><%= @text[:title] %></title>
		<style type="text/css">
<%= incl_plain(File.join(@config[:path][:templates], 'desktop/index.css')) %>
<%= incl_plain(File.join(@config[:path][:bootstrap], "css/bootstrap.min.css")) %>
		</style>
		<script type="text/javascript">
			var cryptobox = {};
			cryptobox.cfg = <%= incl(@config[:path][:db_json]) %>;

<%= incl_plain(File.join(@config[:path][:templates], 'extern/jquery/jquery.min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/bootstrap/js/bootstrap.min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/handlebars/handlebars.js')) %>

<%= incl(File.join(@config[:path][:templates], 'js/form.js')) %>
<%= incl(File.join(@config[:path][:templates], 'js/ui.js')) %>
<%= incl(File.join(@config[:path][:templates], 'js/password.js')) %>
<%= incl(File.join(@config[:path][:templates], 'js/cipher.js')) %>
<%= incl(File.join(@config[:path][:templates], 'js/lock.js')) %>
<%= incl(File.join(@config[:path][:templates], 'js/helpers.js')) %>
<%= incl(File.join(@config[:path][:templates], 'js/ui-bootstrap.js')) %>
<%= incl(File.join(@config[:path][:templates], 'desktop/index.js')) %>

<%= incl_plain(File.join(@config[:path][:templates], 'extern/seedrandom.min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/core-min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/enc-base64-min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/cipher-core-min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/aes-min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/sha1-min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/hmac-min.js')) %>
<%= incl_plain(File.join(@config[:path][:templates], 'extern/CryptoJS/components/pbkdf2-min.js')) %>
		</script>
		<script id="locked-template" type="text/x-handlebars-temlate">
			<div id="div-locked">
			<h1><%= @text[:enter_password] %></h1>

			<div id="div-locked">
				<form id="form-unlock">
						<input id="input-password" size="16" type="password">
						<div>
						<button id="button-unlock" type="submit" class="btn btn-primary">
							<i class="icon-lock"></i> <%= @text[:button_unlock] %>
						</button>
					</div>
				</form>
			</div>
			</div>
		</script>
		<script id="unlocked-template" type="text/x-handlebars-temlate">
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<form class="navbar-search">
						<input type="text" id="input-filter" class="search-query" placeholder="<%= @text[:filter] %>">
					</form>
					<ul class="nav pull-right">
						<li><a id="button-generate-show" href="#"><i class="icon-asterisk"></i> <%= @text[:button_generate] %></a></li>
						<li><a id="button-lock" href="#"><i class="icon-lock"></i> <%= @text[:button_lock] %></a></li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="span3">
					<ul id="ul-nav" class="nav nav-pills nav-stacked">
						{{#each page}}
						<li><a href="#{{id}}" data-toggle="tab">{{name}}</a></li>
						{{/each}}
					</ul>
				</div>
				<div class="span9">
					<div id="div-tabs">
						<div class="tab-content">
						{{#each page}}
						<div id="{{id}}" class="tab-pane fade generated">
							{{#each tag}}
							<table class="table table-hover">
								{{#if name}}
								<caption>{{name}}</caption>
								{{/if}}

								{{#each item}}
								<tr json="{{stringify this}}">
								<td>
									{{#if_eq type to='login'}}
									<a class="button-login" href="#">{{name}} ({{form.vars.user}})</a>
									{{else}}
									{{name}}
									{{/if_eq}}
								</td>
								<td>
									<button class="button-details btn btn-mini btn-primary pull-right" type="button">
										<%= @text[:button_details] %>
									</button>
								</td>
								</tr>
								{{/each}}
							</table>
							{{/each}}
						</div>
						{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="div-details" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3></h3>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= @text[:button_close] %></a>
			</div>
		</div>

		<div id="div-generate" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3><%= @text[:title_generate] %></h3>
			</div>
			<div class="modal-body">
				<form>
					<label><%= @text[:generate_length] %></label>
					<input type="text" id="input-password-length" value="<%= @config[:ui][:default_password_length] %>" size="4" />
					<label class="checkbox">
						<input type="checkbox" id="input-include-num" checked /> <%= @text[:generate_numbers] %>
					</label>
					<label class="checkbox">
						<input type="checkbox" id="input-include-punc" checked /> <%= @text[:generate_punctuation] %>
					</label>
					<label class="checkbox">
						<input type="checkbox" id="input-include-uc" checked /> <%= @text[:generate_upper_case] %>
					</label>
					<label class="checkbox">
						<input type="checkbox" id="input-pronounceable" /> <%= @text[:generate_pronounceable] %>
					</label>
					<label><%= @text[:generated] %></label>
					<input type="text" id="intput-generated-password" size="30" />
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= @text[:button_close] %></a>
				<a id="button-generate" href="#" class="btn btn-primary"><%= @text[:button_generate] %></a>
			</div>
		</div>

		<div id="div-token" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3><%= @text[:title_token] %></h3>
			</div>
			<div class="modal-body">
				<input type="text" id="input-json" />
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= @text[:button_close] %></a>
				<a id="button-token" href="#" class="btn btn-success" target="_blank"><%= @text[:get_token] %></a>
				<a id="button-token-login" href="#" class="btn btn-primary"><%= @text[:log_in] %></a>
			</div>
		</div>

		<div id="div-copyright">
			<p><a href="https://github.com/fomichev/cryptobox"><%= @text[:title] %> <%= Cryptobox::VERSION %></a>, <%= @text[:created_at] %> <%= @config[:cryptobox][:date] %></p>
		</div>
		</script>
	</head>
	<body>
		<noscript><%= @text[:noscript] %></noscript>
	</body>
</html>
