<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

		<title><%= @text[:title] %></title>
		<style type="text/css">
			<%= incl(File.join(@config[:path][:build], 'desktop', 'index.css')) %>
		</style>
		<script type="text/javascript">
			<%= incl(File.join(@config[:path][:build], 'desktop', 'index.js')) %>
			<% if @embed %>
				cryptobox.json = <%= incl(File.join(@config[:path][:private], 'cryptobox.json')) %>;
			<% else %>
				cryptobox.json = null;
			<% end %>
			cryptobox.config = <%= @config.to_json %>;
		</script>
		<% unless @embed %>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.7.1/dropbox.min.js">
			</script>
		<% end %>
	</head>
	<body>
		<noscript><%= @text[:noscript] %></noscript>

		<div id="content"></div>

		<div id="div-copyright">
			<p><a href="https://github.com/fomichev/cryptobox"><%= @text[:title] %> <%= Cryptobox::VERSION %></a>, <%= @text[:created_at] %> <%= @config[:cryptobox][:date] %></p>
		</div>
	</body>
</html>
