<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

		<title><%= @text[:title] %></title>
		<style type="text/css">
			<%= incl(File.join(@config[:path][:build], 'desktop', 'index.css')) %>
		</style>
		<script type="text/javascript">
			<%= incl(File.join(@config[:path][:build], 'desktop', 'index.js')) %>
			cryptobox.cfg = <%= incl(File.join(@config[:path][:db], 'cryptobox.json')) %>;
		</script>
	</head>
	<body>
		<noscript><%= @text[:noscript] %></noscript>

		<div id="content"></div>

		<div id="div-copyright">
			<p><a href="https://github.com/fomichev/cryptobox"><%= @text[:title] %> <%= Cryptobox::VERSION %></a>, <%= @text[:created_at] %> <%= @config[:cryptobox][:date] %></p>
		</div>
	</body>
</html>
